@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background:  rgb(243, 249, 250);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: rgb(36, 169, 196);
  padding: 20px;
  border-radius: 30px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 30px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid  rgb(243, 249, 250);
}

form button {
  border: none;
  background: rgb(243, 249, 250);
  color:#000;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  font-size: 19px;
  border: 2px solid #000;
}

.paragraph-result, .bad {
  background: rgb(109, 255, 182);
  padding: 10px 20px;
  border-radius: 30px;
}

.bad {
  background: rgb(255, 150, 150);
  border-radius: 30px;
}
